.steps-result
	display: flex
	justify-content: space-between
	&__title
		margin-bottom: 3px
		&-wrap
			margin-bottom: 29px

	&__sub-title
		color: $gray

	&__price
		font-size: 22px
		line-height: 28px
		color: $c0
