.nav
	&--big
		.nav
			&__list
				+xl
					// justify-content: flex-end
			&__item
				&:not(:last-child)
					+min_lg
						margin-right: 33px
						+xl
							margin-right: 24px
					+lg
						margin-bottom: 9px
			&__link
				+min_lg
					font-size: 18px
					line-height: 24px
					+xl
						font-size: 16px
	&--header

	&__list
		display: flex
		align-items: center
		+lg
			flex-direction: column
			align-items: flex-start
	&__item
		&--active
			.nav__link
				text-decoration: underline

		&:not(:last-child)
			+min_lg
				margin-right: 24px
			+lg
				margin-bottom: 16px

	&__link
		color: $linkColor
		font-size: 14px
		line-height: 18px
		&:hover
			text-decoration: underline
