body
	min-width: 375px
	position: relative
	font-family: $deff
	font-weight: normal
	line-height: 1.65
	overflow-x: hidden
	-webkit-font-smoothing: antialiased

::-webkit-scrollbar
	width: 0
	-ms-overflow-style: none
	overflow: -moz-scrollbars-none

html,
body
	font-size: 16px
	+xxl
		font-size: 15px
	+xl
		font-size: 14px
	+lg
		font-size: 12px
	+md
		font-size: 11px
	+sm
.section
	position: relative
	background: $bg
	padding: 44px 0 56px
	overflow: hidden
	z-index: 1
	// height: calc( 100vh - 211px)
	height: calc( 100vh - 312px)
	+lg
		padding: 32px 0
		height: 100%
	+h800
		height: 100%
	&:after
		content: ''
		position: absolute
		top: 4.1875rem
		right: -3.9375rem
		width: 62.875rem
		height: 67.8125rem
		background: url('../img/logo/bg-logo.png') no-repeat
		background-size: cover
		z-index: -1
		+lg
			background-position: center center
			right: auto
			top: 0
			left: 50%
			width: 100%
			height: 100%
			transform: translateX(-50%)

.link
	&:hover
		text-decoration: underline
////////// Modules
@import ./modules/buttons
@import ./modules/typoghraphy
@import ./modules/form
@import ./modules/popups
@import ./modules/mfp-zoom
@import ./UiComponents/_all
@import ./blocks/_all
@import ./modules/feedback-required
@import ./modules/info-card-item
@import ./modules/social
@import ./modules/pay-methods
