.faq
	padding: 41px 0 49px
	height: 100%
	+lg
		padding: 32px 0

	&__title
		margin-bottom: 30px
		+lg
			margin-bottom: 24px

	&__desc
		margin-bottom: 43px
		+lg
			margin-bottom: 32px

	&__info-card-item
		&:not(:last-child)
			margin-bottom: 32px

	&__nav-wrap
		position: relative
