section.b-about.section
	.container
		.row
			.col-8
				h1._title О работе сервиса
				._desc
					p Сервис Zapretviezda проводит проверку по официальным источникам ФССП, МВД, ФСБ, НБКИ, ФТС. Проверка позволяет узнать о наличие имеющихся задолженностей и возможного запрета на выезд за пределы страны.
					p Сервис носит информационный характер и предоставляет данные из публичного доступа и официальных ресурсов сети интернет.
					p Для проверки невыездных граждан РФ на выезд из страны, необходимо ввести данные физического лица и оплатить проверку на сайте. Отчет о проверке будет отправлен на электронный адрес в течение 5 - 30 минут. Данные являются актуальными на дату запроса, обновлением информации занимается соответствующий государственный орган.
				.b-support-desk
					._icon-wrap
						+icon('message')
					._text По всем вопросам пользователь может обратиться в отдел технической поддержки, направив письмо на адрес электронной почты
						a._link.link(href="mailto:info@zapretviezda") info@zapretviezda