footer.b-footer
	._top-line
		.container
			.row._row
				._col.-left
					a.b-logo(href="index.html")
						span._img-wrap
							img._img(src="img/logo/logo.png" alt="")
						span._text.small-desc Онлайн-сервис проверки запрета на выезд из РФ 
				._col.-right
					nav.b-nav.-big
						ul._list
							li._item
								a._link(href="#") Проверка запрета на выезд
							li._item
								a._link(href="faq.html") Вопрос юристу
							li._item
								a._link(href="about.html") О компании
							li._item
								a._link(href="support.html") Поддержка
	._bottom-line
		.container
			.row._row
				._col.-first
					._info-text.small-desc zapretviezda.ru © 2020г. <br>info@zapretviezda.ru
				._col.-center
					._links-wrap
						a._link.link(href="#") Пользовательское соглашение
						a._link.link(href="#") Политика конфиденциальности
				._col.-last
					._social-wrap
						nav.b-social
							ul._list
								li._item
									a._link(href="#")
										img._icon(src="img/icons/socials/vk.svg" alt="")
								li._item
									a._link(href="#")
										img._icon(src="img/icons/socials/yt.svg" alt="")
								li._item
									a._link(href="#")
										img._icon(src="img/icons/socials/insta.svg" alt="")
						.b-pay-methods
							._item
								img._img(src="img/other/visa.png" alt="")
							._item
								img._img(src="img/other/secure.png" alt="")

|
|
|
// Request popup
.b-mfp.-request-popup.zoom-anim-dialog.mfp-hide#request
	form._form
		+input('text','name','Имя','Ваше имя', true)
		+input('text','phone','Телефон','Телефон', false)
		button.btn Send
		.b-form-result
			.b-mess
				._title Success!
				._desc We will contact with you soon

|
|
|
// Success popup
.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
	.b-form-result.-success
		.b-mess
			._title Success!
			._desc We will contact with you soon

|
|
|
// Scripts
script(src="js/libs.min.js")
script(src="js/main.min.js")