header.b-header
	.container
		.row._row
			.col
				a.b-logo(href="#")
					span._img-wrap
						img._img(src="img/logo/logo.png" alt="")
					span._text Онлайн-сервис проверки запрета на выезд из РФ 
			.col
				nav.b-nav
					ul._list
						li._item
							a._link(href="#") Проверить запрет на выезд
						li._item
							a._link(href="#") Вопрос юристу
						li._item
							a._link(href="#") О компании
						li._item
							a._link(href="#") Поддержка