header.b-header
	.container
		.row._row
			._col.-left
				a.b-logo(href="index.html")
					span._img-wrap
						img._img(src="img/logo/logo.png" alt="")
					span._text.small-desc Онлайн-сервис проверки запрета на выезд из РФ 
			._col.-right
				nav.b-nav.-header._nav
					ul._list
						li._item.-active
							a._link(href="index.html") Проверить запрет на выезд
						li._item
							a._link(href="faq.html") Вопрос юристу
						li._item
							a._link(href="about.html") О компании
						li._item
							a._link(href="support.html") Поддержка
				button.b-hamburger.-slider.js-menu(type='button')
					span.hamburger-box
						span.hamburger-inner
	.b-mobile-menu
		.container