.main
	position: relative
	background: $bg
	padding: 44px 0 56px
	overflow: hidden
	z-index: 1
	&:after
		content: ''
		position: absolute
		top: 67px
		right: -63px
		width: 1006px
		height: 1085px
		background: url('../img/logo/bg-logo.png') no-repeat
		z-index: -1

	&__title
		margin-bottom: 19px

	&__desc
		margin-bottom: 40px
		max-width: 735px

	&__row
		margin: 0 $grid-margin

	&__col
		padding: 0 $grid-padding
		&--left
			flex-basis: 66.7%
			max-width: 66.7%
		&--right
			flex-basis: 33.3%
			max-width: 33.3%
