section.b-faq.section
	.container
		.row
			.col-12.col-lg-8
				h1._title Вопросы-ответы юристам
				._desc
					p Можете ознакомиться с ответами практикующих юристов на самые частые вопросы, которые возникают у граждан, желающих выехать за рубеж.
		.row._row
			.col-12.col-lg-8
				._wrap
					.b-info-card-item.-wide._info-card-item(data-id="cardItem1")
						._top-line
							._icon-wrap
								+icon('question-file')
							h3._title Виды долгов за которые не выпустят
						._content
							._desc
								p Долги, за которые не выпустят, делятся на две категории. Первая категория включает в себя:
							ol.b-info-list.-small._info-list
								li._item.small-desc Просроченные кредиты, займы и микрокредиты.
								li._item.small-desc Штрафы ГИБДД.
								li._item.small-desc Долги за коммунальные услуги.
								li._item.small-desc Обязательные налоговые выплаты.
							._desc
								p Вторая категория включает:
							ol.b-info-list.-small
								li._item.small-desc Невыплаты по алиментам.
								li._item.small-desc Долги за возмещение причиненного вреда здоровью, причинение ущерба<br> имущественного типа и морального вреда другим лицам.
					.b-info-card-item.-wide._info-card-item(data-id="cardItem2")
						._top-line
							._icon-wrap
								+icon('question-file')
							h3._title Как узнать сумму своей задолженности? 
						._content
							._desc
								p Чтобы узнать сумму своей задолженности, нужно зайти на сайт ФССП РФ и проверить сумму задолженности через базу исполнительных производств. Если не удалось найти сумму задолженности, скорее всего, запрета на выезд нет. Однако нельзя исключать такую возможность, поэтому следует воспользоваться вторым способом. 
								p Необходимо зайти на портал «Госуслуги» и открыть раздел «Оплата». Здесь отображаются имеющиеся долги по штрафам, коммунальным платежам, госпошлинам, налогам и так далее. Также здесь отображаются судебные задолженности.
			.col-12.col-lg-4
				._nav-wrap
					nav.b-faq-nav
						ul._list
							li._item
								a._link.js-scroll(href="#cardItem1") Виды долгов, за которые не выпустят 
							li._item
								a._link.js-scroll(href="#cardItem2") Как узнать сумму задолженности?