section.b-support.section
	.container
		.row
			.col-12.col-lg-9.col-xl-8
				h1._title Поддержка
				.b-feedback._feedback
					._icon-wrap
						+icon('feedback')
					._title-wrap
						h3._title Служба тех. поддержки
						._desc
							p Если у вас возникли трудности, нестандартные вопросы, желание<br> узнать состояние заказа, вопросы по возврату денежных средств.
				.b-feedback-desk
					._col.-left
						h3._title Электронная почта
					._col.-right
						._icon-wrap
							+icon('email')
						._wrap
							a._link.link(href="mailto:info@zapterviezda.ru") info@zapterviezda.ru
							._work-time.small-desc с 09:00 до 18:00, выходные: сб, вс

