section.b-advantages
	.container
		.row
			._col
				.b-info-card-item
					._top-line
						._icon-wrap
							+icon('question-file')
						h3._title Какие документы нужны для выезда за границу?
					._content
						._desc
							p Если выезд в иностранное государство осуществляется по приглашению родственников, то при пересечении границы необходимо будет предъявить документы, подтверждающие родство: 
							p — свидетельство, подтверждающее заключение брака, <br>— свидетельство, выданное для подтверждения факта рождения ребенка и т.д. 
							p При себе нужно иметь не только ксерокопии этих документов, но также и их оригиналы.
			._col
				.b-info-card-item
					._top-line
						._icon-wrap
							+icon('guarentee')
						h3._title Где оформить страховку для выезда за границу?
					._content
						._desc
							p Оформить страховку для выезда за границу можно в любой страховой компании. Страховка для выезда за границу, прежде всего, подразумевает медицинское страхование людей, которые пребывают на территории других стран. Страховой полис в данном случае покрывает все риски, связанные с ухудшением здоровья застрахованного гражданина в ходе пребывания в зарубежном государстве. 
							p Это могут быть как несерьезные заболевания, простуды или пищевые отравления, так и экстренные состояния, требующие срочного оперативного вмешательства. 
			._col
				.b-info-card-item
					._top-line
						._icon-wrap
							+icon('user-check')
						h3._title Однократный выезд за границу <br>— что это?
					._content
						._desc
							p Однократный выезд за границу - это основание для разрешения на осуществление выезда, которое будет проверяться каждый раз. То есть каждый раз необходимо будет собирать и предоставлять соответствующие документы. 
							p.small-desc Как правило, данный термин используется при оформлении визы. В 2020 году данный термин чаще употребляется для пересечения границы во время пандемии.
			._col
				.b-info-card-item
					._top-line
						._icon-wrap
							+icon('users')
						h3._title Каким категориям граждан запрещен выезд за границу?
					._content
						._desc
							p Согласно действующему законодательству РФ следующие категории граждан являются невыездными:
							ol.b-info-list.-small
								li._item.small-desc Сотрудники ФСБ.
								li._item.small-desc Лица, имеющие доступ к государственной тайне.
								li._item.small-desc Граждане, которые указали заведомо ложные данные при сборе документов для выезда.
								li._item.small-desc Обвиняемые и подозреваемые в совершении преступлений.
								li._item.small-desc Осужденные за совершение преступлений. Уклоняющиеся от обязательств.