section.b-rules
	.container
		.row._top-row
			._col.-left
				._icon-wrap
					img._icon(src="img/icons/police.svg" alt="")
			._col.-right
				.b-info
					h2._title Правила выезда за границу граждан РФ в 2020
					._desc
						p Согласно последнему постановлению, в связи с действующей непростой <br>санитарно-гигиенической ситуацией, выезд за границу разрешен только следующим категориям граждан Российской Федерации при условии соблюдения приведенных правил:
				ol.b-info-list
					li._item.small-desc <b>Выезжающие для лечения.</b> Обязательно наличие документа, выданного медицинской организацией <br>(в которую направляется пациент), для подтверждения необходимости лечения с указанием длительности и дат лечения. Помимо этого, в обязательном порядке предоставляются документы, выданные Министерством здравоохранения РФ.
					li._item.small-desc <b>Совершающие однократный выезд для совершения ухода за болеющими опекунами, <br>родственниками или попечителями.</b> Обязательно наличие официального документа для подтверждения текущего состояния больного и его необходимости в надлежащем уходе. Помимо <br>этого, обязательно предоставляется документ для подтверждения родства.
					li._item.small-desc <b>Работающие за границей.</b> В этом случае обязательно предоставляется трудовой контракт с зарубежной компанией, разрешение на право въезда на территорию принимающей страны, разрешение на право осуществления профессиональной деятельности в принимающей стране.
					li._item.small-desc <b>Обучающиеся за границей.</b> Обязательно наличие документа для подтверждения обучения, которое может быть выдано отечественным (в случае направления ученика) или зарубежным объектом образования.
					li._item.small-desc <b>Имеющие гражданство других стран или право проживания за границей.</b>
					li._item.small-desc <b>Члены семьи граждан иностранных государств.</b>
		.row._bottom-row
			.col-12.col-lg-6
				.b-info
					h2._title Как проверить ограничение на выезд за границу?
					._desc
						p Есть два способа проверить ограничение на выезд за границу:
				ol.b-info-list._info-list
					li._item.small-desc
						p Зайти на сайт «Госуслуги» и проверить, являетесь ли вы участником исполнительного производства. Запрет может быть применен только в том случае, если имеется исполнительное производство. Если система показывает, что за вами числится данный процесс, необходимо нажать по вкладке «Получить информацию» и открыть доступ к полной картине. 
						p После этого в течение 5 рабочих дней вы получите ответ от портала с полным описанием и перечислением всех действий исполнительного производства, какие запросы были выполнены, какие постановления приняты. Ограничение имеется в том случае, когда вы увидите строчку с постановлением об ограничении на выезд за пределы РФ.
					li._item.small-desc Обратиться к судебному приставу по месту жительства. Это наиболее достоверный метод. Но здесь нельзя исключать вариант, что пристав проверит имеющиеся задолженности и наложит запрет, которого ранее не было.
				a._check-link.btn.js-scroll(href="#panel") Проверить запрет на выезд
			.col-12.col-lg-6
				.b-report
					._wrap
						._img-wrap
							img._img(src="img/other/example-report.jpg" alt="")
						a._watch-link.link.small-desc(href="#" target="_blank")
							span._icon-wrap
								img._icon(src="img/icons/pdf.svg" alt="")
							span._text смотреть отчет .pdf
